#container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cells), 1fr);
    border: 1px solid hotpink;
    width: 960px;
    height: 960px;
    margin: auto;
}

.cell {
    padding: 1em;
    border: 1px solid hotpink;
}